.movie {
    width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__image {
    width: 400px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    margin-left: 420px;
    border-radius: 5%;
}

.card__name {
    font-size: 40px;
    text-align: center;
    margin: 5px;
}

.card__rating {
    font-size: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.card__year {
    margin: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: "East Sea Dokdo", cursive;
  }
  
.card_remove-btn {  
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 780px;
    z-index: 1;
    background-color: rgb(14, 230, 212);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
